.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.features__list {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
    flex-wrap: wrap;
}

.features__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 120px) / 4);
}

.features__icon-wrap {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: var(--secondary-bg-color);
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 30px;
}

.features__name {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--black-color);
    margin-bottom: 10px;
    text-transform: uppercase;
}

.features__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}